<div class="container">
    <select [(ngModel)]="materiaSelecionada" class="select-box">
        <option *ngFor="let opcaoMateria of opcoesMateria" [ngValue]="opcaoMateria">{{ opcaoMateria.nome }}</option>
      </select>

    <select [(ngModel)]="salaSelecionada" class="select-box">
        <option *ngFor="let opcaoSala of opcoesSala" [ngValue]="opcaoSala">{{ opcaoSala.bloco }} - {{ opcaoSala.numeracao }}</option>
    </select>

    <select [(ngModel)]="anoSelecionado" class="select-box">
      <option *ngFor="let opcaoAno of opcoesAno" [ngValue]="opcaoAno">{{ opcaoAno }}</option>
    </select>
  
    <select [(ngModel)]="semestreSelecionado" class="select-box">
        <option *ngFor="let opcaoSemestre of opcoesSemestre" [ngValue]="opcaoSemestre">{{ opcaoSemestre }}</option>
    </select>

    <mat-form-field>
      <input matInput [(ngModel)]="dataAula" [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
      <input [(ngModel)]="horarioInicioAula" matInput type="time" placeholder=""/>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="horarioFimAula" matInput type="time" placeholder=""/>
    </mat-form-field>

    <button (click)="cadastrarCronograma()" class="styled-button">Cadastrar</button>
</div>