.tabela {
    width: 100%;
    overflow-x: auto;
}

table {
    margin: 0 auto;
    font-size: 15px;
    border-collapse: collapse;
    width: 80%; 
    border: 3px solid #000;
    margin-top: 10px;
}
  
th {
  background-color: #333; 
  color: white;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
}
  
td {
  text-align: center;
}

.green-cell {
  background-color: green;
}

.red-cell {
  background-color: red;
}

td, th {
  border: 3px solid #000; 
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1000px; 
}
  
.select-box {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  width: 100%;
  background-color: #f9f9f9;
}
  
.select-box:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
  
.styled-button {
  padding: 5px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #0056b3;
}

h1{
  margin: 0 auto;
  text-align: center; 
}